.AllLoginItemMain {
  padding: 15px;
  width: 100vw;
  height: 100vh;
  margin-inline: auto;
  background-color: rgb(22, 120, 190);
  display: flex;
  align-items: center;
  justify-content: center;
}

.registerFormAll {
  width: 350px;
  height: 400px;
  padding: 30px 30px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  border-radius: 15px;
}

.registerFormAll h3 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  color: black;
}
.registerFormAll input {
  width: 100%;
  padding: 10px 15px;
  border: 1px solid rgb(214, 214, 214);
}
.registerFormAll button {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: rgb(22, 120, 190);
  color: white;
  transition: ease-in-out 0.3s;
  border-radius: 5px;
}
.registerFormAll button:hover {
  opacity: 0.95;
}

.registerFormAll button:active {
  outline: none;
  transform: scale(0.97);
}
.registerFormAll p {
  margin: 0px;
}

@media (max-width: 360px) {
  .registerFormAll {
    width: 350px;
    height: 410px;
    padding: 30px 20px;
  }

  .registerFormAll h3 {
    font-size: 18px;
  }
}
